<div>
  <h1>Ofertas Especiais</h1>
  <ul>
      <li *ngFor="let oferta of BebidasEspeciais">
        {{oferta.produto }} - {{oferta.detalhes }} - {{oferta.preco}}     
      </li>
  </ul>


  <h2>Selecione sua bebida favorita</h2>

    <select [(ngModel)]="TipoMarcaSelecionados" (change)="updateListaTipos()">
        <option value="">--Selecione a Tipo da sua Bebida--</option>
        <option *ngFor=" let bebida of bebidas" [ngValue]="bebida">{{bebida.marca}}</option>

    </select>
  
    <h2> Selecione sua a bebida </h2>
    <select [(ngModel)]="TipoModeloSelecionado">
        <option value="">--Selecione sua bebida--</option>
        <option *ngFor="let tipo of tipos" [ngValue]="tipo">{{tipo.nome}} </option>
    </select>


</div>


<div *ngIf="TipoModeloSelecionado">
    <h2>Detalhes da sua bebida</h2>
    <p>Tipo: {{TipoMarcaSelecionados.marca}}</p>
    <p>Marca: {{TipoModeloSelecionado.nome}}</p>
    <p>Preço: {{TipoModeloSelecionado.preco}}</p>
</div>


<div class="pedidosManuais">

    
<h2 >Quais tipos de bebidas voce quer ver aqui na Castis Drinks?</h2>
<input type="text" [(ngModel)]="DesejoUsuario" placeholder="Digite seu desejo...">
<button (click)="AdicionarDesejo()">Cadastrar</button>
<button (click)="LimparListaDesejo()">Limpar Campo</button>



<h2>Lista de Desejos</h2>
<ul>
  <li *ngFor="let desejo of desejos">{{ desejo }}</li>
</ul>

<button (click)="LimparDesejos()">Limpar Lista de Desejos</button>

</div>



