<div id="body-style">
  <h1>Produtos mais vendidos</h1>
  <h1>Vodka</h1>
</div>
<div id="divItensDrinks">
  <div class="corpoDrinks">
    <div class="divItemDrinksImagem">
      <img class="imageDrinks" src="../../assets/absolute-mango.png" />
    </div>
    <div>
      <p class="textDrinkInfo raleway">Absolute Pears</p>
    </div>
    <p class="textDrinkInfo poppins">R$: 199.99</p>
    <div class="divButton">
      <button>COMPRAR</button>
    </div>
  </div>
  <div class="corpoDrinks">
    <div class="divItemDrinksImagem">
      <img class="imageDrinks" src="../../assets/absolute-mango.png" />
    </div>
    <div>
      <p class="textDrinkInfo raleway">Absolute Pears</p>
    </div>
    <p class="textDrinkInfo poppins">R$: 199.99</p>
    <div class="divButton">
      <button>COMPRAR</button>
    </div>
  </div>
  <div class="corpoDrinks">
    <div class="divItemDrinksImagem">
      <img class="imageDrinks" src="../../assets/absolute-mango.png" />
    </div>
    <div>
      <p class="textDrinkInfo raleway">Absolute Pears</p>
    </div>
    <p class="textDrinkInfo poppins">R$: 199.99</p>
    <div class="divButton">
      <button>COMPRAR</button>
    </div>
  </div>
  <div class="corpoDrinks">
    <div class="divItemDrinksImagem">
      <img class="imageDrinks" src="../../assets/absolute-mango.png" />
    </div>
    <div>
      <p class="textDrinkInfo raleway">Absolute Pears</p>
    </div>
    <p class="textDrinkInfo poppins">R$: 199.99</p>
    <div class="divButton">
      <button>COMPRAR</button>
    </div>
  </div>
  <div class="corpoDrinks">
    <div class="divItemDrinksImagem">
      <img class="imageDrinks" src="../../assets/absolute-mango.png" />
    </div>
    <div>
      <p class="textDrinkInfo raleway">Absolute Pears</p>
    </div>
    <p class="textDrinkInfo poppins">R$: 199.99</p>
    <div class="divButton">
      <button>COMPRAR</button>
    </div>
  </div>
</div>
<div id="body-style">
  <h1>Gin</h1>
  <div id="divItensDrinks">
    <div class="corpoDrinks">
      <div class="divItemDrinksImagem">
        <img class="imageDrinks" src="../../assets/absolute-mango.png" />
      </div>
      <div>
        <p class="textDrinkInfo raleway">Absolute Pears</p>
      </div>
      <p class="textDrinkInfo poppins">R$: 199.99</p>
      <div class="divButton">
        <button>COMPRAR</button>
      </div>
    </div>
    <div class="corpoDrinks">
      <div class="divItemDrinksImagem">
        <img class="imageDrinks" src="../../assets/absolute-mango.png" />
      </div>
      <div>
        <p class="textDrinkInfo raleway">Absolute Pears</p>
      </div>
      <p class="textDrinkInfo poppins">R$: 199.99</p>
      <div class="divButton">
        <button>COMPRAR</button>
      </div>
    </div>
    <div class="corpoDrinks">
      <div class="divItemDrinksImagem">
        <img class="imageDrinks" src="../../assets/absolute-mango.png" />
      </div>
      <div>
        <p class="textDrinkInfo raleway">Absolute Pears</p>
      </div>
      <p class="textDrinkInfo poppins">R$: 199.99</p>
      <div class="divButton">
        <button>COMPRAR</button>
      </div>
    </div>
    <div class="corpoDrinks">
      <div class="divItemDrinksImagem">
        <img class="imageDrinks" src="../../assets/absolute-mango.png" />
      </div>
      <div>
        <p class="textDrinkInfo raleway">Absolute Pears</p>
      </div>
      <p class="textDrinkInfo poppins">R$: 199.99</p>
      <div class="divButton">
        <button>COMPRAR</button>
      </div>
    </div>
    <div class="corpoDrinks">
      <div class="divItemDrinksImagem">
        <img class="imageDrinks" src="../../assets/absolute-mango.png" />
      </div>
      <div>
        <p class="textDrinkInfo raleway">Absolute Pears</p>
      </div>
      <p class="textDrinkInfo poppins">R$: 199.99</p>
      <div class="divButton">
        <button>COMPRAR</button>
      </div>
    </div>
  </div>
</div>
