<div id="body-style">
  <h1>Produtos mais vendidos</h1>
  <h1>Vodka</h1>
</div>
<div id="divItensDrinks">
  <div class="corpoDrinks">
    <div class="divItemDrinksImagem">
      <img class="imageDrinks" src="../../assets/absolutVodka1.png" />
    </div>
    <div>
      <p class="textDrinkInfo raleway">Absolute Pears</p>
    </div>
    <p class="textDrinkInfo poppins">R$: 199.99</p>
    <div class="divButton">
      <button>COMPRAR</button>
    </div>
  </div>
  <div class="corpoDrinks">
    <div class="divItemDrinksImagem">
      <img class="imageDrinks" src="../../assets/absolutVodka2.png" />
    </div>
    <div>
      <p class="textDrinkInfo raleway">Absolute Mango</p>
    </div>
    <p class="textDrinkInfo poppins">R$: 199.99</p>
    <div class="divButton">
      <button>COMPRAR</button>
    </div>
  </div>
  <div class="corpoDrinks">
    <div class="divItemDrinksImagem">
      <img class="imageDrinks" src="../../assets/AbsolutVodka3.png" />
    </div>
    <div>
      <p class="textDrinkInfo raleway">Absolut Raspberri</p>
    </div>
    <p class="textDrinkInfo poppins">R$: 199.99</p>
    <div class="divButton">
      <button>COMPRAR</button>
    </div>
  </div>
  <div class="corpoDrinks">
    <div class="divItemDrinksImagem">
      <img class="imageDrinks" src="../../assets/AbsolutVodka4.png" />
    </div>
    <div>
      <p class="textDrinkInfo raleway">Absolute Apeach</p>
    </div>
    <p class="textDrinkInfo poppins">R$: 199.99</p>
    <div class="divButton">
      <button>COMPRAR</button>
    </div>
  </div>
  <div class="corpoDrinks">
    <div class="divItemDrinksImagem">
      <img class="imageDrinks" src="../../assets/absolutVodka5.png" />
    </div>
    <div>
      <p class="textDrinkInfo raleway">Absolute No Label</p>
    </div>
    <p class="textDrinkInfo poppins">R$: 299.99</p>
    <div class="divButton">
      <button>COMPRAR</button>
    </div>
  </div>
</div>
<div id="body-style">
  <h1>Gin</h1>
  <div id="divItensDrinks">
    <div class="corpoDrinks">
      <div class="divItemDrinksImagem">
        <img class="imageDrinks" src="../../assets/gin1.png" />
      </div>
      <div>
        <p class="textDrinkInfo raleway">Gin Vanfall London Dry </p>
      </div>
      <p class="textDrinkInfo poppins">R$: 399.99</p>
      <div class="divButton">
        <button>COMPRAR</button>
      </div>
    </div>
    <div class="corpoDrinks">
      <div class="divItemDrinksImagem">
        <img class="imageDrinks" src="../../assets/gin3.png" />
      </div>
      <div>
        <p class="textDrinkInfo raleway">Gin Las Californias</p>
      </div>
      <p class="textDrinkInfo poppins">R$: 299.99</p>
      <div class="divButton">
        <button>COMPRAR</button>
      </div>
    </div>
    <div class="corpoDrinks">
      <div class="divItemDrinksImagem">
        <img class="imageDrinks" src="../../assets/gin5.png" />
      </div>
      <div>
        <p class="textDrinkInfo raleway">Gin Floral Folivora</p>
      </div>
      <p class="textDrinkInfo poppins">R$: 149.99</p>
      <div class="divButton">
        <button>COMPRAR</button>
      </div>
    </div>
    <div class="corpoDrinks">
      <div class="divItemDrinksImagem">
        <img class="imageDrinks" src="../../assets/gin6.png" />
      </div>
      <div>
        <p class="textDrinkInfo raleway">Gin Tanqueray </p>
      </div>
      <p class="textDrinkInfo poppins">R$: 249.99</p>
      <div class="divButton">
        <button>COMPRAR</button>
      </div>
    </div>
    <div class="corpoDrinks">
      <div class="divItemDrinksImagem">
        <img class="imageDrinks" src="../../assets/gin7.png" />
      </div>
      <div>
        <p class="textDrinkInfo raleway">Gin Bombay Sapphire</p>
      </div>
      <p class="textDrinkInfo poppins">R$: 239.99</p>
      <div class="divButton">
        <button>COMPRAR</button>
      </div>
    </div>
  </div>
</div>
